section#contact.section.scrollspy.full-height
  h3.page-title.white-text.teal Contact
  .container
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='Email Abhishek', href='mailto:katara.abhishek7@gmail.com', data-position='top', data-tooltip='Email Abhishek')
        i.fa.fa-envelope
        a.hoverline(alt='', href='mailto:katara.abhishek7@gmail.com') katara.abhishek7@gmail.com
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Abhishek on GitHub', href='http://github.com/AbhishekKatara', target='_blank', data-position='top', data-tooltip='View Abhishek on GitHub')
        i.fa.fa-github
        a.hoverline(alt='', href='http://github.com/AbhishekKatara') github.com/AbhishekKatara
    p
      a.btn-floating.btn-large.waves-effect.waves-light.brown.tooltipped(aria-label='View Abhishek on LinkedIn', href='http://linkedin.com/in/abhishekkatara', target='_blank', data-position='top', data-tooltip='View Abhishek on LinkedIn')
        i.fa.fa-linkedin
        a.hoverline(alt='', href='http://linkedin.com/in/abhishekkatara') linkedin.com/in/abhishekkatara
