section#education.section.scrollspy
  h3.page-title.white-text.teal Education
  .container
    .row
      .col.s12.m6
        .card
          .card-content
            p
              span.card-title
                a.teal-text.hoverline(href='http://iiitvadodara.ac.in') Indian Institute of Information Technology, Vadodara
            p.brown-text Gujarat, India
            ul
              li B.Tech. in Computer Science